.RussoOne {
    font-family: Lobster, fantasy;

}


/*nav{*/
/*    background-color: transparent !important;*/
/*}*/
/*.nav-wrapper a{*/
/*    color: #aaa !important;*/
/*}*/

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 150px;
    }
}

.collection-item.hoverable:hover {
     box-shadow: 0 2px 2px 0 blue, 0 3px 1px -2px blue, 0 1px 5px 0 blue;
    background-color: grey
 }
