
.center .materialboxed,
.center-align .materialboxed {
    margin: auto; position: relative;
}

.center-align {

    align-items: center;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
